
{% load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> {{ title }} </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <style>
    @import url('https://fonts.googleapis.com/?family=Ubuntu&display=swap);
    </style>
</head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header w/ logo -->
        <div class "navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'LOGO.png' %}" id="logo"></a>

        </div>
        <!--items -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li class="">
                    <a href="{% url 'homepage' %}">
                        <span class ="home " aria-hidden="true"></span>
                       Home
                    </a>
                </li>
                <li class="">
                    <a href="/goals">
                        <span class ="goals " aria-hidden="true"></span>
                       Goals
                    </a>
                </li>
                <li class="">
                    <a href="/activity">
                        <span class ="exercise " aria-hidden="true"></span>
                        Activity
                    </a>
                </li>
                <li class="">
                    <a href="/diet">
                        <span class ="diet " aria-hidden="true"></span>
                        Diet
                    </a>
                </li>
                <li class="">
                    <a href="/group">
                        <span class ="group " aria-hidden="true"></span>
                        Group
                    </a>
                </li>
                {% else %}
                <li class="">
                    <a href="{% url 'homepage' %}">
                        <span class ="home " aria-hidden="true"></span>
                       Home
                    </a>
                </li>
                <li class="">
                    <a href="/login">
                        <span class ="login " aria-hidden="true"></span>
                        Log In
                    </a>
                </li>
                <li class="">
                    <a href="/register">
                        <span class ="register " aria-hidden="true"></span>
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}>
                <li class="">
                    <a href="/profile">
                        <span class ="goals " aria-hidden="true"></span>&nbsp;
                       Profile
                    </a>
                </li>
                <li class="">
                    <a href="/logout">
                        <span class ="glyphicon plyphicon-off " aria-hidden="true"></span>&nbsp;
                        Log Out
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>


<body>

<main>

    {% block main %}

    {% endblock %}

    {% block table %}
    {% endblock %}
</main>
</body>
</html>

{% load static %}
<!DOCTYPE html>
<html>
<head>

