{% extends 'base.html' %}

{% block nav %}
{% include 'navigation/standard-nav.html' %}
{% load cispy_form_tags %}
{% endblock %}

{% block main %}

<div class="user-enter-box"></div>
<p>This is the goals page</p>
<h4>Existing Goals</h4>

<ul>
{% for item in list %}
{% endfor %}
</ul>

<h4>Completed Goals</h4>
<ul>
{% for item in list %}
    <li> </li>
{% endfor %}
</ul>

<h4>Incompleted Goals</h4>
<ul>
{% for item in list %}
    <li> </li>
{% endfor %}
</ul>
</div>
{% endblock %}


{% block footer %}
<h4>footer</h4>
{% endblock %}