{% extends 'base.html' %}

{% block nav %}
{% include 'navigation/standard-nav.html' %}
{% endblock %}

{% block main %}
<p>This is the group page</p>
{% endblock %}

{% block footer %}
<h4>footer</h4>
{% endblock %}