{% extends 'base.html' %}
{% load staticfiles %}
{% block nav %}
{% include 'navigation/home-nav.html' %}
{% endblock %}

{% block main %}
<h1 align="center"> Welcome to Apex Health Tracker!</h1><br>

{% if user.is_authenticated %}
<h4 align="center"> Welcome back {{ user.username }}! <a href="/logout">Log out</a></h4>
{% else %}
<h4 align="center"> Not a member? Register via the image below!</h4>
<br>
<h4 align="center"> Alternatively, log in via the navigation bar, or <a href="/login">here</a> </h4>
{% endif %}

<br><br>
{% if user.is_authenticated %}
<div class="img-container">
	<img src="{% static 'Homepagereturn.png' %}" class="home-image">
	<div class="overlay">
		<div class="home-img-text"><a href="/profile" class="home-image-text-link" >Click here to view your profile!</a></div>
	</div>
</div>
{% else %}
<div class="img-container">
	<img src="{% static 'HomepageImage.png' %}" class="home-image">
	<div class="overlay">
		<div class="home-img-text"><a href="/register" class="home-image-text-link" >Click here to register today!</a></div>
	</div>
</div>
{% endif %}

<p class="home-text"> <br><br>Here at Apex we are looking to provide the best free health tracking app for our users. <br>
	We've looked at everything you want, and have added the features you need! Apex is simple <br>
	to use, cleanly designed and provides the best in health tracking for you! <br><br>
	You'll be able to see your calorie intake, create meal plans, track your weight loss progrss <br>
	see how much you've worked out, join groups and much more!
</p>
<br><br><br><br>



{% if user.is_authenticated %}
<h4 align="center"> Click here to go to your diet section to view how well you've been doing and <br>
					update your meals! <a href="/diet">Click here or down below!</a></h4>

<br>

<div class="img-container">
	<img src="{% static 'diet.jpg' %}" class="home-image">
	<div class="overlay">
		<div class="home-img-text"><a href="/diet" class="home-image-text-link" >View your diet plan here</a></div>
	</div>
</div>


<br><br><br><br>



<h4 align="center"> Click here to go to your activites section to view your past <br> and current goals <a href="/diet">Click here or down below!</a></h4>

<br>

<div class="img-container">
	<img src="{% static 'activity.jpg' %}" class="home-image">
	<div class="overlay">
		<div class="home-img-text"><a href="/activity" class="home-image-text-link" >View your activity log</a></div>
	</div>
</div>

<br><br><br><br>




{% endif %}

{% endblock %}
