{% extends 'base.html' %}

{% block nav %}
{% include 'navigation/home-nav.html' %}
{% endblock %}

{% block main %}
<p>This is the Login page</p>

<ul>
    <li><a href="/user"> Login </a> </li>
</ul>
{% endblock %}

{% block footer %}
<h4>footer</h4>
{% endblock %}