{% extends 'base.html' %}

{% block header %}
<h3>Welcome, User</h3>
{% endblock %}

{% block nav %}
{% include 'navigation/standard-nav.html' %}
{% endblock %}

{% block main %}
<p>This is the User page</p>
{% endblock %}

{% block footer %}
<h4>footer</h4>
{% endblock %}