{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="user-enter-box">
<h2>Your Goal</h2>
<form action='' method='POST'>{% csrf_token %}
    {{ form | crispy }}
    <input class='button' type='submit' value='Save Goal' />
    <input class='button' type='button' onclick="window.location.replace('/goals/')" value="Cancel" />
</form>
    </div>
{% endblock %}