{% extends 'base.html' %}

{% block main %}
<h2>Delete Goal</h2>
<form action='' method='POST'>{% csrf_token %}
    <h3> Are You Sure You Want To Delete Your Goal?</h3>
    <h4>"{{object.title}}" with target date "{{object.targetDate}}"</h4>
    <input class='button' type='submit' value='Yes' />
    <input class='button' type='button' onclick="window.location.replace('./')" value="No" />
</form>
{% endblock %}