{% extends 'base.html' %}

{% block main %}
<h3>{{object.title}}</h3>
<p>{% if object.description != None and object.description != '' %}Description - {{object.description}}
{% else %} {% endif %}</p>
<p>Date Set - {{object.dateSet}}</p>
<p>Target Date - {{object.targetDate}}</p>
<p>Goal Achieved - {% if object.complete == True %} Yes {% else %} No {% endif %}</p>

<button class='button' onclick="window.location.replace('../')"> Back </button>
<button class='button' onclick="window.location.replace('delete')"> Delete Goal </button>
<button class='button' onclick="window.location.replace('update')"> Update Goal </button>

{% endblock %}