{% extends 'base.html' %}

{% block main %}
<div class="user-enter-box2">
<h4>Existing Goals</h4>
<ul>
{% for instance in object_list %}
    {% if instance.complete == False and not instance.is_past_target %}
    <p><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a> - {{ instance.targetDate }}</p>
    {% endif %}
{% endfor %}
</ul>

<h4>Completed Goals</h4>
<ul>
{% for instance in object_list %}
    {% if instance.complete == True %}
    <p><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a> - {{ instance.targetDate }}</p>
    {% endif %}
{% endfor %}
</ul>

<h4>Expired Goals</h4>
<ul>
{% for instance in object_list %}
    {% if instance.complete == False and instance.is_past_target %}
    <p><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a> - {{ instance.targetDate }}</p>
    {% endif %}
{% endfor %}
</ul>

<button class='button' onclick="window.location.replace('create')">Add Goal</button>
</div>
{% endblock %}