{% extends 'base.html' %}
{%  load crispy_forms_tags %}
{% block main %}
    <div class = "user-enter-box">
<h2>Activity</h2>
<form action='' method='POST'>{% csrf_token %}
    {{ form | crispy }}
    <input class='button' type='submit' value='Save Activity' />
    <input class='button' type='button' onclick="window.location.replace('/activity/')" value="Cancel" />
</form>
    </div>
{% endblock %}