{% extends 'base.html' %}

{% block main %}

    <div class = "user-enter-box">
<h2>Delete Activity</h2>
<form action='' method='POST'>{% csrf_token %}
    <h3> Are You Sure You Want To Delete Your Activity?</h3>
    <h4>"{{object.title}}" with Date "{{object.dateDone}}"</h4>
    <input class='button' type='submit' value='Yes' />
    <input class='button' type='button' onclick="window.location.replace('../')" value="No" />
</form>
    </div>
{% endblock %}