{% extends 'base.html' %}

{% block main %}
    <div class = "user-enter-box">
<h3>{{object.title}}</h3>
<p>{% if object.details != None and object.details != '' %}Details - {{object.details}}
{% else %} {% endif %}</p>
<p>Duration - {{object.duration}}</p>
<p>Date Activity Was Done - {{object.dateDone}}</p>

<button class='button' onclick="window.location.replace('../')"> Back </button>
<button class='button' onclick="window.location.replace('delete')"> Delete Activity </button>
<button class='button' onclick="window.location.replace('update')"> Update Activity </button>
    </div>
{% endblock %}