{% extends 'base.html' %}

{% block main %}
    <div class = "user-enter-box">
<h4>Your Activity</h4>

<ul>
{% for instance in object_list %}
    <p><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a> - {{instance.dateDone|timesince}} ago</p>
{% endfor %}
</ul>
<button class='button' onclick="window.location.replace('create')">Add Activity</button>
    </div>
{% endblock %}