{% extends 'base.html' %}
{% block nav %}
{% load staticfiles%}
{% include 'navigation/home-nav.html' %}
{% endblock %}

{% block main %}
	<h4 align="center">You have been logged out</h4>	
		<div class="logout-page">
			<small class="text-muted">
				<img src="{% static 'logout.png' %}" class="logout-image">
			</small>
	</div>
{% endblock %}

{% block footer %}
<h4>footer</h4>
{% endblock %}