{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block nav %}
{% include 'navigation/home-nav.html' %}
{% endblock %}

{% block main %}
	<div class="user-enter-box">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Sing Up Here</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sing Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Already Have An Account? <a class="ml-2" a href="{% url 'login' %}">Sing In</a>
			</small>
	</div>
{% endblock %}

{% block footer %}
<h4>footer</h4>
{% endblock %}