<nav>
    <ul>
        <li><a href="/user">User</a></li>
        <li><a href="/group">Group</a></li>
        <li><a href="/goals">Goals</a></li>
        <li><a href="/exercise">Exercise</a></li>
        <li><a href="/diet">Diet</a></li>
        <li><a href="/account">Account Settings</a></li>
        <li><a href="/ ">Logout</a></li>
    </ul>
</nav>