body {
  background-image: url("BACKGROUND.png");
  background-repeat-y: no-repeat;
  background-repeat-x: no-repeat;
  background-size: cover;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5{
	font-weight: normal;
	margin: 0;
  color: white;
}

a {
  text-decoration: none;
}

a, a:hover, a:visited{
	color: black;
	text-decoration: none;
}

.home-text {
  text-align: center;
  color: white;
  float: center;
  font-size: 17px;
}

.img-container{
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.home-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bc980b;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.img-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.home-img-text{
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}




.img-container2 {
  position: relative;
  width: 50%;
}

.home-image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.img-container2:hover .overlay2 {
  width: 100%;
}

.home-img-text2 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-enter-box{
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.user-enter-box2{
  border-radius: 25px;
  border: 5px solid white;
  padding: 50px;
  margin: 20px;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;}

.logout-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  float: center
  opacity: 0.5;
  max-height: 425px;
  max-width: 210px;
}

.logout-page {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}


.content-section {
  align-content: center;
  color: white;
}

.w3-circle {
  border-radius: 50%;
  max-height: 300px;    
  max-width: 300px;
}

#logo {
  float: left;
  max-height: 50px;
  max-width: 50px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c2c2c2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #bc980b;
  color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

